<section ng-controller"RemindertilesController">
  This is the Reminder tiles

  <fieldset>
	<legend>
		<b>Tiles</b>
	</legend>
	<div class="tile">
		<h2>Assembly</h2>
		<p class="tile_description">Manage Product Assembly and Maintenance</p>
	</div>
	<div class="tile">
		<h2>Design</h2>
		<p class="tile_description">Manage Product Designs</p>
	</div>
	<div class="tile">
		<h2>Document Generator</h2>
		<p class="tile_description">Generate documents from recorded data</p>
	</div>
</fieldset>
</section>
