<section data-ng-controller="HomeController" data-ng-show="!authentication.user">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Make reminders and we'll send them to your phone!
      </p>
    </div>
    <div class="row">
      <p>
      </p>
    </div>
  </div>
  <div>
    <h2>Schedule Reminder</h2>
    <p>Full-stack application that helps you organize reminders that will be sent via text message.</p>
    <p>Sing up for free and give it a try.</p>
    <ul>
      <li>
        Click
        <em>Signup</em> to get started.
      </li>
      <li>
        Create new message
      </li>
      <ul>
        <li>
          Enter phone number.
        </li>
        <li>
          The time when you want your message to be sent.
        </li>
        <li>
          Message to be sent.
        </li>
      </ul>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  
</section>
