<section data-ng-controller="RemindertilesController">
  This is the Reminder tiles
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="card card-block">
          <h4 class="card-title">Phone: Number</h4>
          <h4 class="card-title">When: Number</h4>
          <h4 class="card-title">Message:</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card card-block">
          <h4 class="card-title">Phone: Number</h4>
          <h4 class="card-title">When: Number</h4>
          <h4 class="card-title">Message:</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--reminders :[{
    created: Date,
    phone: String,
    when: Date,
    message: String,
  }]-->
